<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MMS" connectionString="Data Source=SQL2014T2PRD,1444;Initial Catalog=MMS;Persist Security Info=True;User ID=MMS;Password=mmspwd312" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Param file for AppSettings-->
    <add key="XMLSettingsFile" value="C:\MMS\MMSC\Config\AppSettings.xml" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>